<div class = "pagination-item">
    
    <h3><!--[MAIL_CAMPAIGN]--></h3>

    <div class = "pagination-item-info-bar">

        <div class = "pagination-item-info">
       
            <!--[LIST_WHOM_IS_SENT]--> <br />
            <!--[MAIL_SENDTO_COUNT]--> E-Mails (Sent <!--[MAIL_SENT_TOTAL]-->) <br />
            <!--[MAIL_CREATED]-->
        
        </div>
        
        <div class = "pagination-item-action">
        
           <a href = "?delete=<!--[MAIL_ID]-->"><img src = "./images/Critical.png" /></a>
    
        </div>
    
    </div>



</div>
