<h2><!--[NEWSLETTER_ADD_OR_EDIT]--></h2>

<!--[FORM_ERRORS]-->

<form name = "frmNewsletter" method = "post" action = "">

<label for = "newsletter_title">Title</label>

<input type = "text" name = "newsletter_title" value = "<!--[NEWSLETTER_TITLE]-->" />

<label for = "newsletter_description">Description</label>

<textarea name = "newsletter_description"><!--[NEWSLETTER_DESCRIPTION]--></textarea>

<label for = "newsletter_content">Content</label>

<!--[WYSIWIG_INSTANCE1]-->

<input type = "hidden" name = "edit" value = "<!--[EDIT_ID]-->" />

<input type = "hidden" name = "bSubmit" value = "1" />

<input type = "submit" name = "frmSubmit" value = "Add/Edit Newsletter" />


</form>

