<div class = "pagination-item">
    
    <h3><!--[LIST_NAME]--></h3>

    <div class = "pagination-item-info-bar">

        <div class = "pagination-item-info">
        
            <!--[NUMBER_OF_MEMBERS]--> Member(s)<br />
            <!--[LIST_CREATED]-->
        
        </div>
        
        <div class = "pagination-item-action">
        
            <a href = "./edit_list.php?edit=<!--[LIST_ID]-->"><img src = "./images/drafts.png" /></a>
            
            <!--[DELETE_OPTION]-->
    
        </div>
    
    </div>

    <p><!--[LIST_DESCRIPTION]--></p>

</div>
