<!--[FORM_ERRORS]-->
<div class = "content-right">

     <h3>Sign In</h3>
     
                    <form action="" method="post">

                      <label for = "user_username">Username</label><input type="text" name="user_username" value="" />
                        
                        <label for = "user_password">Password</label><input type="password" name="user_password" value="" />
                        
                                                           
                              <input type = "hidden" name = "bLogin" value = "1" />

                        <input type="submit" value="Login" />
                    
                    </form>
     


</div>