<div class = "pagination-item">
    
    <h3><!--[NEWSLETTER_TITLE]--></h3>

    <div class = "pagination-item-info-bar">

        <div class = "pagination-item-info">
        
            <!--[NEWSLETTER_CREATED]-->
        
        </div>
        
        <div class = "pagination-item-action">
        
            <a href = "./edit_newsletter.php?edit=<!--[NEWSLETTER_ID]-->"><img src = "./images/drafts.png" /></a>
            
            <a href = "?delete=<!--[NEWSLETTER_ID]-->" onclick="return confirm('Are you sure you wish to deletre this newsletter?');"><img src = "./images/Critical.png" /></a>
    
        </div>
    
    </div>

    <p><!--[NEWSLETTER_DESCRIPTION]--></p>

</div>
