<h2>Send Newsletters</h2>

<!--[FORM_ERRORS]-->

<form name = "frmSettings" action = "" method = "post">

<label for = "mail_campaign">Mail Campaign Name (Also subject of E-Mails sent)</label>

<input type = "text" name = "mail_campaign" value = "" />

<label for = "mail_to_address">E-Mails to</label>

<input type = "text" name = "mail_to_address" value = "" />

<label for = "mail_newsletter">Template</label>

<!--[SELECT_BOX_NEWSLETTER]-->

<input type = "button" name = "importTemplate" id = "importTemplate" class = "noblock" value = "Import Template" onclick = "return confirm('Any works you done to the newsletter will be lost, are you sure you wish to proceed?');" />

<label for = "mail_content">E-Mail</label>

<!--[WYSIWYG]-->

<label for = "mail_lists">Send to</label>

<!--[SELECT_MAILING_LISTS]-->

<script type="text/javascript">
  $(function(){
    // choose either the full version
    $(".multiselect").multiselect();

  });
  
  
  $(document).ready(function(){
  
        $('#importTemplate').click(function(){
        
             
             $.get('./ajax-return-template.php?template='+$('#mail_newsletter').val(), function(data) {  CKEDITOR.instances.mail_content.insertHtml(data); }); 
        
        
        
        
        });
  
  });
</script>

<input type = "hidden" name = "bMail" value = "1" />

<input type = "submit" name = "bSubmit" value = "Create Mailing Campaign" />

</form>

<hr />
<!--[LIST_OF_CAMPAIGNS]-->
<!--[PAGINATION]-->